@use 'variables' as *;
.user_card {
    max-width: 400px;
    width: 97%;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--black);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #33ccff;
    color: white;
}
.login_btn:focus {
    box-shadow: none;
    outline: 0px;
}
.login_container {
    padding: 0 2rem;
}

.input-group {
    width: 100%;
}

.input-group-text {
    height: 100%;
    background: var(--pink);
    border: 0;
    color: var(--gray);
    border-radius: 0.25rem 0 0 0.25rem;
}
.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}

.login-register-redirect {
    color: #fff;
}
