{% extends 'kursovaya/base.html' %}
    {% load static %}
    {% block content %}
        <section class="blog-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6 section-heading">
                        <h1 class="section-heading__h1">Recent from blog</h1>
                        <p class="section-heading__p">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-3">
                            <a class="blog-to-post-link" href="{% url 'post_detail' post.id %}">
                                <div class="post">
                                    <div class="post__img-wrapper">
                                        <img src="{% static 'kursovaya/img/post-img.png' %}" alt="" class="post__img">
                                    </div>
                                    <div class="post__info">
                                        <span class="post__date">{{ post.date }}</span>
                                        <div class="post__author">{{ post.author }}</div>
                                    </div>
                                    <h3 class="post__title">{{ post.title }}</h3>
                                    <p class="post__description">{{ post.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    {% endblock content %}
