{% extends 'base.html' %}
    {% block content %}
        <section class="contacts-section">
            <div class="contacts">
                <h1>Beauty</h1>
                <p class="contacts__text">
                    Если у вас возникли вопросы об услугах, которые мы предоставляем, свяжитесь с нами по указанным ниже контактам
                </p>
                <div class="contacts__phone">
                    <span class="text-colored">Телефон</span>: +7(937)-439-11-96
                </div>
                <div class="contacts__email">
                    <span class="text-colored">Почта</span>: contact@beautysalon.ru
                </div>
            </div>
        </section>
    {% endblock content %}
