{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <section class="home-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h1 class="home-heading">Салон красоты <span class="colored">Beauty</span></h1>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-9 mb-3">
                        <img src="{% static 'pages/img/salon.jpg' %}" alt="">
                    </div>
                    <div class="col-9">
                        <p class="text-center text text_opacity text_big">Уход за собой — комплекс процедур, которые продлевают молодость, помогают сохранить положительный настрой. Сияющая кожа, чистые аккуратно уложенные волосы, привлекательный макияж, стильный маникюр, красивая одежда — все это орудия, с помощью которых каждая женщина может стать королевой. Учеными доказано, что поход в парикмахерский зал или визит к косметологу способствуют выработке эндорфинов и улучшают самооценку.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'pages/img/home-1.jpg' %}" alt="">
                    </div>
                    <div class="col-6">
                        <p class="text text_big">
                            Салон красоты «Бьюти» — место, где вы можете расслабиться, наслаждаясь приятным уходом и первоклассным обслуживанием.
                            Уютные кабинеты, приветливые мастера, отсутствие суеты и современное оборудование для проведения процедур — вот за что «Бьюти» любят клиенты.
                        </p>
                        <div class="mt-auto">
                            <p class="text">Ознакомьтесь со списком наших услуг</p>
                            <a href="{% url 'services' %}" class="btn btn-dark">Посмотреть услуги</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}

