{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if messages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="messages mt-3">
                        {% for message in messages %}
                            <h2 class="p-2 bg-{{ message.level_tag }}">{{ message }}</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <section class="post-details">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="post-details__title">{{ post.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-12 col-lg-7">
                    <div class="post-details__info">
                        <span class="post-details__author">{{ post.author }}</span>
                        <span class="post-details__date">{{ post.date }}</span>
                    </div>
                    <p class="post-details__message">
                        {{ post.message }}
                    </p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Комментарии ({{ post_comments_count }})</h2>
                    {% if post.comments.all %}
                        {% for comment in post.comments.all %}
                            <div class="post-details__comment">

                                <strong>{{ comment.user.username }} - {{ comment.date }}
                                    {% if comment.update_date %} (Отредактировано {{ comment.update_date }}) {% endif %}
                                </strong>
                                <p class="comment">{{ comment.message }}</p>

                                {% if request.user == comment.user %}
                                    <div style="display:none" id="update-form" class="update-form mb-3">
                                        <form action="{% url 'post_detail' post.pk %}" method="POST">
                                            {% csrf_token %}
                                            {{ updateForm }}
                                            <input type="hidden" name="edit-comment_id" value="{{ comment.id }}">
                                            <button name="update" class="btn btn-success" type="submit">Сохранить</button>
                                        </form>
                                    </div>
                                    <button class="update-comment btn btn-warning">Редактировать</button>
                                {% endif %}

                                {% if request.user.username == 'admin' or request.user == comment.user %}
                                    <form method="POST" action="{% url 'post_detail' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        <button name="delete" type="submit" class="mt-3 btn btn-danger">Удалить</button>
                                    </form>
                                {% endif %}

                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST" action="{% url 'post_detail' post.pk %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form|crispy }}
                        </div>
                        <button name="send" class="btn btn-primary btn-block" type="submit">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% if posts|length > 1 %}
    <div class="other-posts">
        <h4 class="other-posts__heading">Последние посты</h4>
        <ul class="other-posts__list">
            {% for p in posts|slice:"::-1"|slice:":6" %}
                {% if p.title != post.title %}
                    <li class="other-posts__item">
                        <a class="other-posts__link" href="{% url 'post_detail' p.id %}">{{ p.title }}</a>
                    </li>
                {% endif %}

            {% endfor %}
            <li class="other-posts__item">
                <a href="{% url 'blog' %}" class="other-posts__link">Смотреть все ({{ posts|length }})</a>
            </li>
        </ul>

    </div>

    {% endif %}


    <script>
        const updateButtons = document.querySelectorAll(".update-comment");
        const updateInput = document.querySelectorAll(".update-input");

        for (let i = 0; i < updateButtons.length; i++) {            // По нажатию на кнопку редактировать появится поле для редактирования
                                                                    // и кнопка "Сохранить"
            updateButtons[i].addEventListener('click', function() {
                const comment = this.parentElement.querySelector('.comment').innerHTML;
                const input = this.parentElement.querySelector('.update-input');
                input.value = comment;
                this.parentElement.querySelector('.update-form').style.display = 'block';
                this.parentElement.querySelector('.update-comment').style.display = 'none';
            })
        }


    </script>
{% endblock content %}