@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
:root {
  --gray: #fcfcfc;
  --black: #333;
  --pink: #d56c9a;
  --pinkRGB: 213,108,154;
  --transition: .3s all ease;
  --padding: 40px 0;
}

.user_card {
  max-width: 400px;
  width: 97%;
  margin-top: auto;
  margin-bottom: auto;
  background: var(--pink);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #fff;
}

.login_btn {
  width: 100%;
  background: #33ccff !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group {
  width: 100%;
}

.input-group-text {
  height: 100%;
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login-register-redirect {
  color: #fff;
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 101;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  transition: stroke-dasharray 700ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 700ms cubic-bezier(0.4, 0, 0.2, 1), stroke 1s ease;
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
  stroke: #fff;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 5;
  stroke: #fff;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
  stroke: #fff;
}

.mobile-menu-wrapper {
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--pink);
  transform: translateX(-150%);
  transition: 0.6s ease all;
  z-index: 10;
}
.mobile-menu-wrapper_active {
  transform: translateX(0);
}

.mobile-menu__link {
  font-size: 2rem;
  color: #fff;
}

.mobile-status {
  font-size: 2rem;
  color: #fff;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--pink);
  color: var(--gray);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

html * {
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: #efefef;
  color: var(--black);
  position: relative;
}

.text_opacity {
  opacity: 0.8;
}
.text_big {
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: var(--transition);
}

.btn-dark {
  border: none;
}
.btn-dark:hover {
  background-color: var(--pink);
}

.hamburger-menu {
  position: absolute;
  right: 25px;
  display: none;
  width: 60px;
}
.hamburger-menu path {
  stroke: var(--black);
}

@media (max-width: 991px) {
  .hamburger-menu {
    display: block;
  }
}
.header {
  background-color: var(--gray);
  display: flex;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
  z-index: 100;
  height: 60px;
  left: 0;
  right: 0;
  align-items: center;
}

.main-menu {
  display: flex;
  margin-bottom: 0;
}
.main-menu__link {
  padding: 1.5rem 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.main-menu__link:hover {
  color: var(--pink);
}

.section-heading {
  text-align: center;
}
.section-heading__h1 {
  font-weight: 400;
}
.section-heading__p {
  color: gray;
}

section {
  padding: var(--padding);
}

.main {
  margin-top: 60px;
  padding-bottom: 50px;
  min-height: calc(100vh - 50px);
}

.brand {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: var(--pink);
  color: var(--gray);
  text-transform: uppercase;
  margin: 0 auto;
  transition: var(--transition);
}
.brand:hover {
  color: var(--black);
}

.home-heading {
  font-size: 3rem;
}
.home-heading .colored {
  font-size: 3.6rem;
}

.colored {
  color: var(--pink);
}

.statistics {
  text-align: center;
}
.statistics__text {
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
  color: gray;
}
.statistics__number {
  font-size: 2.2rem;
  color: var(--pink);
}
.statistics__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.statistics__img img {
  width: 60px;
}

.blog-to-post-link:hover {
  color: var(--black);
}
.blog-to-post-link:hover > .post {
  background-color: hsl(var(--gray, 3%));
}

.post {
  text-align: left;
  transition: var(--transition);
  background-color: var(--gray);
  padding: 30px;
}
.post__info {
  display: flex;
  justify-content: space-between;
}
.post__author {
  font-weight: bold;
}
.post__img-wrapper {
  width: 100%;
}

.post-details__author {
  font-weight: bold;
}
.post-details__date {
  color: gray;
}
.post-details__message {
  font-size: 24px;
}
.post-details__comment {
  background-color: var(--gray);
  color: var(--black);
  font-size: 18px;
  border-radius: 5px;
  padding: 7px 15px;
  margin-bottom: 10px;
}

.other-posts {
  right: 10%;
  width: 300px;
  position: fixed;
  top: 22%;
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 10px;
}
.other-posts__heading {
  text-align: center;
}

@media (max-width: 991px) {
  .other-posts {
    position: static;
    margin: 0 auto;
  }
}
.footer {
  background: var(--black);
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.services {
  row-gap: 50px;
}

.service {
  text-align: center;
}
.service__img {
  height: 370px;
}
.service__img-wrapper {
  margin: 0 auto;
  position: relative;
  width: 75%;
}
.service__img-wrapper:hover > .service__details {
  background-color: rgba(var(--pinkRGB), 0.8);
  opacity: 1;
}
.service__details {
  position: absolute;
  padding: 50px 20px 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  color: #fff;
  bottom: 0;
  transition: 0.4s ease all;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
